<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    @*<base href="https://papahair.by/">*@
    <meta name="description" content="Продажа натуральных волос для наращивания в Минске и Минской области -  ✔ помощь в подборе длины и цвета, ✔ доставка по всей РБ, ✔ высокое качество, ✔ низкие цены!">
    <meta name="keywords" content="натуральные волосы, наращивание, купить, продать, заказать, под заказ, цена, стоимость, Минск, Минская область, PapaHair">
    <meta name="yandex-verification" content="64032f00fa8fd7ce">

    @*<script src="https://connect.facebook.net/signals/config/1274499339399697?v=2.9.24&amp;r=stable" async=""></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script async="" src="https://mc.yandex.ru/metrika/tag.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-WN75XXZ"></script>*@


    @*<script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@

    @*<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
        <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>*@
    @*<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">*@
    <script src="~/myadd/jquery-2.1.1.min.js"></script>
    <script src="~/myadd/bootstrap.min.js"></script>
    <link href="~/myadd/bootstrap.min.css" rel="stylesheet" />
    <link href="~/myadd/font-awesome.min.css" rel="stylesheet" />

    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css">
    <link href="~/myadd/oneclick.css" rel="stylesheet" media="screen" />
    <link href="~/myadd/stylesheet.css" rel="stylesheet" />
    <link href="~/myadd/instagram.css" rel="stylesheet" media="screen" />
    <script src="~/myadd/jquery.magnific-popup.new.min.js"></script>
    <link href="~/myadd/magnific-popup.new.css" rel="stylesheet" media="screen" />
    <script src="~/myadd/script.js" type="text/javascript"></script>
    <script src="~/myadd/common.js" type="text/javascript"></script>
    <script src="~/myadd/validator.min.js"></script>

    @*<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">*@
    @*<link href="catalog/view/javascript/jquery/instagram-rdr/instagram.css" type="text/css" rel="stylesheet" media="screen">*@
    @*<link href="catalog/view/javascript/oneclick/magnific-popup.new.css" type="text/css" rel="stylesheet" media="screen">*@
    @*<link href="catalog/view/theme/default/stylesheet/oneclick.css" type="text/css" rel="stylesheet" media="screen">*@
    @*<script src="catalog/view/javascript/oneclick/jquery.magnific-popup.new.min.js" type="text/javascript"></script>*@
    @*<script src="catalog/view/javascript/oneclick/script.js" type="text/javascript"></script>*@
    @*<script src="catalog/view/javascript/common.js" type="text/javascript"></script>*@
    @*<script src="/scripts/validator.min.js"></script>*@
    @*<link href="https://papahair.by/" rel="canonical">*@
    @*<link rel="icon" href="https://papahair.by/favicon.png" type="image/png">*@



    
</head>
<body>
    <nav id="top">
        <div class="container">
            <div class="nav pull-left">
                <ul class="list-inline">
                    <li><i class="fa fa-phone"></i> Звоните: <a href="tel:+375333571322">+375 33 357-13-22</a> | <a href="tel:+375336711322">+375 33 671-13-22</a></li>
                    <li><i class="fa fa-envelope"></i> Пишите: <a href="mailto:info@papahair.by">info@papahair.by</a></li>
                </ul>
            </div>
            <div class="social pull-right">
                <ul class="list-inline">
                    <li><a href="tg://resolve?domain=papahair" target="_blank" title="Telegram"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="viber://add?number=375336711322" target="_blank" title="Viber"><i class="fa fa-viber" style="font-family: fontawesome !important"></i></a></li>
                    <li><a href="//api.whatsapp.com/send?phone=375336711322" target="_blank" title="WhatsApp"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a href="https://www.instagram.com/papa.hair/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" target="_blank" title="Viber"><i class="fa-viber"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="logo">
                        <a href="https://papahair.by/"><img src="~/Content/Images/logo.png" title="PapaHair.by" alt="PapaHair.by" class="img-responsive"></a>
                    </div>
                </div>
            </div>          
        </div>
    </header>
    <div class="container menu">
        <nav id="menu" class="navbar col-md-9 col-sm-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><span id="category" class="visible-xs"><i class="fa fa-bars"></i> Меню</span></button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav main-menu">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Каталог</a>

                        <div class="dropdown-menu" style="">
                            <div class="dropdown-inner">
                                <ul class="list-unstyled">
                                    <li><a href="https://papahair.by/slavyanskie-volosy/">Славянские волосы</a></li>
                                    <li><a href="https://papahair.by/yuzhno-russkie-volosy/">Южно-русские волосы</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Скупка волос</a>

                        <div class="dropdown-menu" style="">
                            <div class="dropdown-inner">
                                <ul class="list-unstyled">
                                    <li><a href="/skupka-volos-v-minske">Скупка волос в Минске</a></li>
                                    <li><a href="/skupka-volos-v-breste">Скупка волос в Бресте</a></li>
                                    <li><a href="/skupka-volos-v-vitebske">Скупка волос в Витебске</a></li>
                                    <li><a href="/skupka-volos-v-gomele">Скупка волос в Гомеле</a></li>
                                    <li><a href="/skupka-volos-v-grodno">Скупка волос в Гродно</a></li>
                                    <li><a href="/skupka-volos-v-mogileve">Скупка волос в Могилеве</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li><a href="/oplata-i-dostavka">Оплата и доставка</a></li>
                    <li><a href="/otzyvy">Отзывы</a></li>
                    <li><a href="/o-nas">О нас</a></li>
                    <li><a href="/kontakty">Контакты</a></li>
                </ul>
            </div>
        </nav>
        <ul class="list-inline pull-right">
            <li>
                <div id="cart" class="btn-block">
                    <button type="button" data-toggle="dropdown" data-loading-text="Загрузка..." class="cart-btn"><i class="fa fa-shopping-bag yellow"></i><span id="cart-total" class="relative"><span class="count-items">0</span> <span class="cost-items">0.00</span></span></button>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <p class="text-center">Ваша корзина пуста!</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="h3"> | </li>
            <li>
                <div class="search relative">
                    <div class="show-search"><i class="fa fa-search"></i></div>
                    <div class="search-block" style="display:none;">
                        <div id="search" class="input-group">
                            <input type="text" name="search" value="" placeholder="Поиск" class="form-control input-lg">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div>
        @RenderBody()
    </div>

    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div id="logo-footer">                      
                        <img src="~/Content/Images/logo-footer.png" title="PapaHair.by" alt="PapaHair.by" class="img-responsive">
                    </div>
                    <p>Индивидуальный предприниматель<br> Жуковский Роман Юрьевич</p>
                    <p>УНП 692141529</p>
                    <p>Регистрация:<br> Минский райисполкомом<br> 01.06.2019 г. №0696944</p>
                    <ul class="list-unstyled">
                        <li><a href="/sitemap">Карта сайта</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div class="footer-title h4 yellow">Покупателям</div>
                    <ul class="list-unstyled">
                        <li><a href="/o-nas">О нас</a></li>
                        <li><a href="/vopros-otvet">Вопрос-ответ</a></li>
                        <li><a href="/kak-kupit">Как купить</a></li>
                        <li><a href="/oplata-i-dostavka">Оплата и доставка</a></li>
                        <li><a href="/pochemu-my">Почему мы</a></li>
                        <li><a href="/vozvrat-tovara">Возврат товара</a></li>
                        <li><a href="/kontakty">Контакты</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 footer-contacts">
                    <div class="footer-title h4 yellow">Свяжитесь с нами</div>
                    <p><b>Телефоны:</b></p>
                    <ul class="list-unstyled">
                        <li><a href="tel:+375333571322">+375 33 357-13-22</a></li>
                        <li><a href="tel:+375336711322">+375 33 671-13-22</a></li>
                    </ul>
                    <p><b>E-mail:</b></p>
                    <ul class="list-unstyled">
                        <li><a href="mailto:info@papahair.by">info@papahair.by</a></li>
                    </ul>
                    <p><b>Адрес:</b></p>
                    <ul class="list-unstyled">
                        <li>220099, Республика Беларусь,<br> г. Минск, ул. Казинца, 11А корпус А, 8 этаж, офис А-803</li>
                    </ul>
                    <p><b>Мы в соц. сетях:</b></p>
                    <div class="social pull-left">
                        <ul class="list-inline">
                            <li><a href="tg://resolve?domain=papahair" target="_blank" title="Telegram"><i class="fa fa-telegram"></i></a></li>
                            <li><a href="viber://add?number=375336711322" target="_blank" title="Viber"><i class="fa fa-viber"></i></a></li>
                            <li><a href="//api.whatsapp.com/send?phone=375336711322" target="_blank" title="WhatsApp"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="https://www.instagram.com/papa.hair/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <p class="powered text-center">© 2019 «PapaHair.by»</p>
        </div>
    </footer>

    <script type="text/javascript">var oc_params = { "product_position": "1", "product_element": "#button-cart", "list_selector": "cart.add", "product_btn_block_class": "one-click-btn", "product_btn_class": "btn btn-block btn-primary", "show_in_cat": 1, "show_in_prod": 1, "button_text": "Купить в 1 клик", "close_button_text": "Закрыть", "descr_show_text": "Смотреть описание", "descr_hide_text": "Скрыть описание ↑", "order_button_text_loading": "Обработка...", "order_button_text": "Заказать", "list_btns": [{ "list_element": ".button-group", "list_product_block": ".product-thumb", "list_position": 1, "list_btn_class": "button margin-05", "list_btn_block_class": "button-group" },] };</script>
    <style>
        .mfp-bg {
            background: #000000
        }

        .mfp-bg {
            opacity: 0.8
        }

        .oc-head, .oc-footer {
            background: #eeeeee
        }

        .oc-body {
            background: #ffffff
        }

        .oc .btn-success {
            background: #5bb75b;
            border-color: #5bb75b;
        }

            .oc .btn-success:hover, .oc .btn-success:focus {
                background: #449d44;
                border-color: #449d44;
            }

        .oc .btn-success {
            color: #ffffff
        }

        .oc .btn-danger {
            background: #da4f49;
            border-color: #da4f49;
        }

            .oc .btn-danger:hover, .oc .btn-danger:focus {
                background: #c9302c;
                border-color: #c9302c;
            }

        .oc .btn-danger {
            color: #ffffff
        }

        .oc-head, .mfp-close-btn-in .oc .mfp-close {
            color: #000000
        }

        .oc, .oc-pname, a.oc-show-descr {
            color: #000000
        }

        a.oc-show-descr {
            border-color: #000000
        }
    </style>



    <script type="text/javascript" id="">(function (a, e, f, g, b, c, d) { a[b] = a[b] || function () { (a[b].a = a[b].a || []).push(arguments) }; a[b].l = 1 * new Date; c = e.createElement(f); d = e.getElementsByTagName(f)[0]; c.async = 1; c.src = g; d.parentNode.insertBefore(c, d) })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(55486963, "init", { clickmap: !0, trackLinks: !0, accurateTrackBounce: !0, webvisor: !0, ecommerce: "dataLayer" });</script>
    <noscript><div><img src="https://mc.yandex.ru/watch/55486963" style="position:absolute; left:-9999px;" alt=""></div></noscript>

    <script type="text/javascript" id="">!function (b, e, f, g, a, c, d) { b.fbq || (a = b.fbq = function () { a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments) }, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d)) }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js"); fbq("init", "1274499339399697"); fbq("track", "PageView");</script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=1274499339399697&amp;ev=PageView
&amp;noscript=1">
    </noscript>
    <iframe name="ym-native-frame" title="ym-native-frame" frameborder="0" aria-hidden="true" style="opacity: 0 !important; width: 0px !important; height: 0px !important; position: absolute !important; left: 100% !important; bottom: 100% !important; border: 0px !important;"></iframe><ym-measure class="ym-viewport" style="display: block; top: 0px; right: 0px; bottom: 0px; left: 0px; height: 100vh; width: 100vw; position: fixed; transform: translate(0px, -100%); transform-origin: 0px 0px;"></ym-measure><ym-measure class="ym-zoom" style="bottom: 100%; position: fixed; width: 100vw;"></ym-measure>
</body>
</html>