@using HairSale.Models.HairItems
@model IEnumerable<HairItem>

@if (Model.Count() <= 0)
{
    <div class="container-fluid">
        <h3>Пока нет добавленых видов волос</h3>
        <button type="button" id="AddHairsButton" class="btn btn-success">Добавить</button>
    </div>
}
else
{
    <div class="container">
        <button type="button" id="AddHairsButton" class="btn btn-success">Добавить</button>
    </div>
    <div class="container" id="HairsTableDiv">
        @foreach (HairItem item in Model)
        {
            <p>
                Name: @item.Name Price : @item.Price
                <img id="@item.Id" src="data:text/plain;base64,@Convert.ToBase64String(item.HairImage.Data)" />
                <button class="btn btn-success" onclick="DeleteHair(@item.Id)">Delete</button>
            </p>
        }
    </div>

}
