
@{
    ViewBag.Title = "О нас";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div id="information-information" class="container">
    <ul class="breadcrumb ocseo-fixed">
        <li><a href="https://papahair.by/">Главная</a></li>
        <li>О нас</li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1>О нас</h1>
            <p>Компания «Papa Hair» занимается продажей натуральных волос. Своим клиентам мы предлагаем большой выбор материалов различной длины, расцветки и текстуры. В нашем ассортименте вы найдете волосы в срезах славянских и южно-славянских видов. Весь товар проходит строгую проверку качества и соответствия гигиеническим нормам.</p>
            <p>Наш салон располагается в г. Минске - cхема проезда и точный адрес на странице «<a href="~/Home/Contacts">Контакты</a>». Здесь вы можете ознакомиться с нашим ассортиментом, примерить понравившиеся модели, а также получить профессиональную консультацию по выбору и уходу за натуральными волосами.</p>
            <p><a href="~/Home/PaymentAndDelivery">Доставка</a> осуществляется в любую точку Беларуси.</p>
            <p>Благодаря своему профессиональному и ответственному подходу к работе мы стали поставщиком натуральных волос в многие салоны красоты РБ.</p>
            <h2>Наши основные преимущества</h2>
            <ul>
                <li><a href="~/Home/PaymentAndDelivery">Любая форма оплаты</a>;</li>
                <li>Быстрая доставка;</li>
                <li>Индивидуальный подход к каждому клиенту;</li>
                <li>Огромный складской запас;</li>
                <li>Вся продукция высокого качества.</li>
            </ul>
        </div>
    </div>
</div>

