
@{
    ViewBag.Title = "Скупка волос в Минске";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="information-information" class="container">
    <ul class="breadcrumb ocseo-fixed">
        <li><a href="https://papahair.by/">Главная</a></li>
        <li>Скупка волос в Минске</li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1>Скупка волос в Минске</h1>          
            <p><img src="~/Content/Images/BuyingHair/skupka-volos-v-minske.jpg" alt="Скупка волос в Минске" title="Скупка волос в Минске"></p>
            <p>Рано или поздно даже обладательницы роскошных волос задумываются о смене имиджа. Решив сделать стильную стрижку, не спешите выбрасывать срезанные локоны. Вы можете продать нам свои волосы и не только получить за это деньги, но и обрести новую прическу в подарок!</p>
            <p>PapaHair занимается скупкой волос в Минске и всей территории Беларуси. С нами вы сможете заработать на обновлении своего образа – принимаем волосы по высоким ценам. Обращайтесь в нашу компанию и получите профессиональную стрижку в подарок!</p>
            <h2 class="text-center">Что влияет на стоимость волос</h2>
            <p>Волосы разных людей отличаются друг от друга, соответственно отличается их стоимость. Цена зависит от:</p>
            <ul>
                <li><b>Длины</b> <br>Основной параметр, влияющий на стоимость продукта. Чем длиннее волосы, тем они стоят дороже. Поэтому многие компании принимают только длинные локоны.</li>
                <li><b>Цвета</b> <br>Наиболее популярные, дорогие волосы светлых оттенков, немаловажна их натуральность.</li>
                <li><b>Возраст донора</b> <br>Чем моложе обладатель продаваемых локонов, тем выше будет их цена. Особенно дорого оцениваются детские волосы.</li>
                <li><b>Качество</b> <br>При покупке волос, конечно, учитывается их состояние. Они не должны быть спутанными, иметь посеченные кончики или любые другие дефекты.</li>
                <li><b>Вес</b> <br>Чем больше весят пряди, тем дороже они стоят.</li>
            </ul>
            <h2 class="text-center">Почему вам стоит обратиться к нам</h2>
            <ul class="preim-volos">
                <li><p><b>Покупаем дорого.</b></p><p>Предлагаем достойное вознаграждение за качественный материал.</p></li>
                <li><p><b>Расчет на месте.</b></p><p>Оплата производится сразу после передачи прядей.</p></li>
                <li><p><b>Прическа в подарок.</b></p><p>Наш специалист подберет вам новый стильный образ.</p></li>
                <li><p><b>Честность.</b></p><p>Оценка волос проводится с соблюдением требований, норм и правил. С нами вы не потеряете драгоценные сантиметры.</p></li>
            </ul>
            <h3 class="text-center">Наши счастливые клиенты</h3>
            <div class="our-shop row">
                <div class="col-sm-6">       
                    <p><img src="~/Content/Images/BuyingHair/foto-klienta.jpg" alt="Фото нашего клиента" title="Фото нашего клиента" width="100%"></p>
                    <p><img src="~/Content/Images/BuyingHair/foto-klienta-do-sreza-volos.jpg" alt="Наш клиент до среза волос" title="Наш клиент до среза волос" width="100%"></p>
                    <p><img src="~/Content/Images/BuyingHair/do-i-posle-sreza-volos.jpg" alt="Анна до и после среза волос" title="Анна до и после среза волос" width="100%"></p>
                </div>
                <div class="col-sm-6">
                    
                    
                    
                    <p><img src="~/Content/Images/BuyingHair/foto-s-klientom.jpg" alt="Роман с нашим клиентом" title="Роман с нашим клиентом" width="100%"></p>
                    <p><img src="~/Content/Images/BuyingHair/foto-klienta-posle-sreza-volos.jpg" alt="Наш клиент после среза волос" title="Наш клиент после среза волос" width="100%"></p>
                    <p><img src="~/Content/Images/BuyingHair/roman-i-anna.jpg" alt="Роман и Анна после среза волос" title="Роман и Анна после среза волос" width="100%"></p>
                </div>
            </div>
            <h2 class="text-center">Какие волосы мы принимаем</h2>
            <ul>
                <li>Волосы натурального цвета, неокрашенные;</li>
                <li>Длиной не менее 35 см;</li>
                <li>В хорошем состоянии.</li>
            </ul>
            <h3 class="text-center">Мы не принимаем</h3>
            <ul class="preim-volos">
                <li><p>Короткие волосы (меньше 35 см);</p></li>
                <li><p>Волосы, у которых перепутаны начало и конец;</p></li>
                <li><p>Искусственные волосы;</p></li>
                <li><p>Сильно спутанные и секущиеся по всей длине волосы.</p></li>
            </ul>
            <h2 class="text-center">Как подготовить волосы к продаже?</h2>
            <p>Наилучшим вариантом будет прийти к нам и воспользоваться услугами мастера, который аккуратно и правильно отрежет локоны. Выполняя эту процедуру самостоятельно, вы можете перепутать волоски, что сделает их непригодными к дальнейшему использованию.</p>
            <p>Если волосы хранятся в хвосте или косе, то лучшей подготовкой будет их не трогать, не причесывать и не мыть самостоятельно. Доверьте эту работу профессионалам.</p>
        </div>
    </div>
</div>