
@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div id="product-category" class="container">
    <ul class="breadcrumb ocseo-fixed">
        <li><a href="https://papahair.by/">Главная</a></li>
        <li>Славянские волосы</li>
    </ul>
    <div class="row">
        <aside id="column-left" class="col-sm-3 hidden-xs">
            <nav id="left-menu" class="navbar">
                <div class="navbar-header">
                    <button type="button" class="btn-menu visible-xs navbar-toggle h4" data-toggle="collapse" data-target=".navbar-ex2-collapse"><i class="fa fa-bars"></i> Категории</button>
                </div>
                <div class="collapse navbar-collapse navbar-ex2-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Славянские волосы</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-inner">
                                    <ul class="list-unstyled">
                                        <li><a href="https://papahair.by/slavyanskie-volosy/40-sm">40 см</a></li>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/50-sm">50 см</a></li>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/60-sm">60 см</a></li>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/70-sm">70 см</a></li>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/80-sm">80 см</a></li>
                                    </ul>
                                </div>
                                <a href="https://papahair.by/slavyanskie-volosy/" class="see-all">Показать все</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Южно-русские волосы</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-inner">
                                    <ul class="list-unstyled">
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/40-sm">40 см</a></li>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/50-sm">50 см</a></li>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/60-sm">60 см</a></li>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/70-sm">70 см</a></li>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/80-sm">80 см</a></li>
                                    </ul>
                                </div>
                                <a href="https://papahair.by/yuzhno-russkie-volosy/" class="see-all">Показать все</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>

        <div id="content" class="col-md-9">          
            <hr>           
            <div class="row">
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="https://papahair.by/slavyanskie-volosy/40-sm/neokrashennye/neokrashennye-slavyanskie-volosy-40-sm-v-sreze"><img src="https://papahair.by/image/cache/catalog/tovary/slavyanskie-volosy/neokrashennye-slavyanskie-volosy-40-sm-v-sreze-228x304.jpg" alt="Неокрашенные славянские волосы 40 см в срезе" title="Неокрашенные славянские волосы 40 см в срезе" class="img-responsive"></a>
                        </div>
                        <div>
                            <div class="caption">
                                <div class="h4"><a href="https://papahair.by/slavyanskie-volosy/40-sm/neokrashennye/neokrashennye-slavyanskie-volosy-40-sm-v-sreze">Неокрашенные славянские волосы 40 см в срезе</a></div>
                                <p class="price">
                                    269.50
                                </p>
                            </div>
                            <div class="button-group">
                                <button type="button" class="margin-05">Купить в 1 клик</button>
                            </div>
                            <div class="button-group">
                                <button type="button"><span>Добавить в корзину <i class="fa fa-shopping-basket"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>
