
@{
    ViewBag.Title = "HowToBuy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="information-information" class="container">
    <ul class="breadcrumb ocseo-fixed">
        <li><a href="https://papahair.by/">Главная</a></li>
        <li>Как купить</li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1>Как купить</h1>
            <p>На нашем сайте вы найдете всю необходимую информацию для заказа натуральных волос:</p>
            <ul>
                <li>перечень товаров;</li>
                <li>цену;</li>
                <li><a href="/oplata-i-dostavka">способы оплаты и доставки</a>;</li>
                <li>а также полезную информацию о данном продукте.</li>
            </ul>
            <p>Для оформления заказа или получения дополнительной консультации свяжитесь с нашим менеджером. Для связи вы можете использовать:</p>
            <ul>
                <li>Телефонный звонок на номера, указанные на странице «<a href="/kontakty">Контакты</a>».</li>
                <li>Сообщение в Viber, WhatsApp, Telegram.</li>
                <li>E-mail - <a href="mailto:info@papahair.by">info@papahair.by</a>.</li>
            </ul>
            <p>Специалист ответит на все ваши вопросы, уточнит цену, проверит наличие выбранной вами модели и вышлет вам реальное фото товара на согласование. Завершающим этапом станет оплата покупки удобным для вас способом.</p>
            <p>Чтобы не пропустить информацию о наших новинках, акциях, розыгрышах и скидках присоединяйтесь к нам в социальных сетях <a href="" target="_blank" title="VKontakte">Вконтакте</a> и <a href="https://www.instagram.com/papa.hair/" target="_blank" title="Instagram">Instagram</a>.</p>

        </div>
    </div>
</div>

