
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="common-home" class="container">
    <div class="row">
        <div id="content" class="col-sm-12">
            <div>
                <p><img src="~/Content/Images/naturalnye-volosy-v-minske.jpg" alt="Натуральные волосы в Минске" title="Натуральные волосы в Минске" width="100%"></p>
                <h1 class="text-center">Продажа натуральных волос в Минске</h1>
                <p>Длинные, густые и здоровые волосы – мечта любой девушки. Испокон веков именно они являются показателем ее красоты и предметом гордости. К сожалению, не каждая представительница прекрасного пола имеет роскошную шевелюру от природы. В нашем магазине вы можете купить натуральные волосы и исправить эту досадную несправедливость.</p>
                <p>Натуральные волосы станут отличной возможностью изменить прическу и создать свой неповторимый образ. Мы предлагаем огромный ассортимент волос длинной от 40 до 80 см. С их помощью вы сможете увеличить объем прически или длину прядей, а также исправить неудавшуюся стрижку. У нас вы найдете все возможные виды волос для наращивания, что позволит подобрать тон идентичный своему.</p>
                <h2 class="text-center">Виды волос</h2>
                <p>В нашем каталоге представлен большой выбор волос различных видов по самым приятным ценам. Тщательно подобранные к своему естественному оттенку пряди помогут изменить ваш стиль до неузнаваемости и прекрасно выглядеть в любое время суток.</p>
                <div class="row margin">
                    <div class="col-sm-6">
                        <figure>
                            <img src="~/Content/Images/Hair/slavyanskie-volosy.jpg" width="100%" alt="Славянские волосы" title="Славянские волосы">
                            <figcaption><p class="h5 text-center"><a href="/slavyanskie-volosy/">Славянские волосы</a></p></figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-6">
                        <figure>
                            <img src="~/Content/Images/Hair/yuzhno-russkie-volosy.jpg" width="100%" alt="Южно-русские волосы" title="Южно-русские волосы">
                            <figcaption><p class="h5 text-center"><a href="/yuzhno-russkie-volosy/">Южно-русские волосы</a></p></figcaption>
                        </figure>
                    </div>
                </div>
                <h2 class="text-center">Преимущества натуральных волос</h2>
                <ul class="preim-volos">
                    <li><p><b>Великолепный внешний вид.</b></p><p>Натуральные волосы смотрятся естественно и красиво на протяжении всего времени ношения. Они имеют естественные оттенки и текстуру и ничем не отличаются от своих.</p></li>
                    <li><p><b>Разнообразие цветов и оттенков.</b></p><p>Такой широкий выбор поможет создать уникальный образ каждой девушке: будь то натуральные оттенки, сочетающиеся с ее собственным пигментом, или яркие пряди в ее прическе.</p></li>
                    <li><p><b>Возможность создания любых причесок.</b></p><p>Пряди из натуральных волос можно завить, выпрямить, уложить любым способом или затоннировать в другой цвет.</p></li>
                    <li><p><b>Простота ухода.</b></p><p>Натуральные волосы не путаются, не сбиваются в колтуны. В уходе за ними допускается использование привычных шампуней, бальзамов и масок для волос.</p></li>
                </ul>
                <h2 class="text-center">Почему мы</h2>
                <div class="title-h2">Качество является наиболее важным для нас.  Волосы - это наша страсть!</div>
                <ul class="gl preim">
                    <li><b>Честность.</b><br> Мы дорожим нашей хорошей репутацией и долгосрочными отношениями с клиентами.</li>
                    <li><b>Компетенция.</b><br> Мы команда квалифицированных специалистов с глубокими знаниями о волосах и их наращивании.</li>
                    <li><b>Доставка по всей РБ.</b><br> Заказать натуральные волосы вы можете из любого города Беларуси. Мы привезем ваш заказ быстро и недорого.</li>
                    <li><b>Персональный подход.</b><br> Мы индивидуально подходим к каждому клиенту, предлагая выгодные условия работы, доставки и оплаты.</li>
                    <li><b>Оперативность.</b><br> Вы можете получить ваш заказ уже в день оплаты. Загрузка осуществляется после поступления денег на счет.</li>
                    <li><b>Долгосрочные отношения.</b><br> Мы заботимся о каждом клиенте, выстраивая крепкие долгосрочные отношения.</li>
                </ul>
            </div>

            <div>
                <div class="row our-shop">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="~/Content/Images/Salon/nash-salon-foto-1.jpg" alt="Наш салон - фото 1" title="Наш салон - фото 1" width="100%">
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Images/Salon/nash-salon-foto-2.jpg" alt="Наш салон - фото 2" title="Наш салон - фото 2" width="100%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="~/Content/Images/Salon/nash-salon-foto-3.jpg" alt="Наш салон - фото 3" title="Наш салон - фото 3" width="100%">
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Images/Salon/nash-salon-foto-4.jpg" alt="Наш салон - фото 4" title="Наш салон - фото 4" width="100%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="~/Content/Images/Salon/nash-salon-foto-5.jpg" alt="Наш салон - фото 5" title="Наш салон - фото 5" width="100%">
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Images/Salon/nash-salon-foto-6.jpg" alt="Наш салон - фото 6" title="Наш салон - фото 6" width="100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h2 class="h3">Наш интернет-магазин с образцами волос</h2>
                        <p>В нашем интернет-магазине в г. Минске представлены множество образцов натуральных волос различных видов, цветов и текстур. У нас найдется подходящий вариант для любой девушки, даже с самыми смелыми желаниями.</p>
                        <p>Сомневаетесь в выборе? – Просто приходите в наш интернет-магазин.</p>
                        <p class="h4">Вам не нужно больше думать!</p>
                        <p>Перед покупкой вы можете примерить волосы, попробовав пряди разной длины и оттенков. Примерка образцов проводиться бесплатно, и не требует от вас последующей покупки.</p>
                        <p>Вам не придется гадать о правильности вашего решения, вы сможете оценить результат сразу, глядя на ваше преобразившееся отражение в зеркале.</p>
                        <p>С нетерпением ждем вас в нашем интернет-магазине!</p>
                        <p class="h4">Расположение нашего салона:</p>
                        <p>г. Минск, ул. Казинца, 11А корпус А, 8 этаж, офис А-803</p>
                        <p>Точные адреса и часы работы наших интернет-магазинов можно найти по ссылке - <a href="/kontakty">Контакты</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
