
@{
    ViewBag.Title = "Оплата и доставка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="information-information" class="container">
    <ul class="breadcrumb ocseo-fixed">
        <li><a href="https://papahair.by/">Главная</a></li>
        <li>Оплата и доставка</li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1>Оплата и доставка</h1>
            <p>Мы осуществляем доставку заказов по всей территории Республики Беларусь.</p>
            <ul>
                <li>Курьерская доставка по Минску;</li>
                <li>В другие города и населенные пункты - наложенным платежом через отделения РУП "Белпочта".</li>
            </ul>
            <p>Отгрузка товара производится ежедневно, после поступления оплаты на расчетный счет.</p>
            <p>Стоимость и сроки доставки вы можете уточнить у нашего менеджера. Мы обязательно подберем для вас наиболее удобный и недорогой вариант.</p>
            <p>При осуществлении оптовой закупки доставка производится <b>бесплатно</b>.</p>
            <h2>Страхование</h2>
            <p>Нам важно, чтобы ваш заказ был доставлен вовремя, без повреждений и в полном объеме. Поэтому компания-перевозчик осуществляет страхование каждой посылки. Вы можете быть уверены в сохранности вашей покупки в процессе транспортировки. После получения заказа, проверьте его комплектацию и целостность в присутствии курьера.</p>
            <h2>Варианты оплаты</h2>
            <p class="h4">Для индивидуальных предпринимателей и юридических лиц:</p>
            <ol>
                <li><p><b>С расчетного счета</b></p><p>Зачисление денежных средств на счет получателя происходит в течение 1 – 3 дней с момента оплаты.</p><p>Может взиматься дополнительная оплата за обработку платежного поручения. Тарифы данной услуги вы можете узнать в вашем банке.</p></li>
            </ol>
            <p class="h4">Для физических лиц:</p>
            <ol>
                <li><p><b>Оплата наличными</b></p><p>Вы можете оплатить заказ наличными денежными средствами по факту доставки.</p></li>
                <li><p><b>Перевод на расчетный счет</b></p><p>Вы можете выполнить перевод в любом отделении банка или с помощью сервиса интернет-банкинга.</p><p>Может взиматься дополнительная плата в соответствии с тарифами вашего банка.</p><p>Срок перевода 1 – 3 дня.</p></li>
            </ol>
        </div>
    </div>
</div>