
@{
    ViewBag.Title = "Refund";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div id="information-information" class="container">
    <ul class="breadcrumb ocseo-fixed">
        <li><a href="https://papahair.by/">Главная</a></li>
        <li>Возврат товара</li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1>Возврат товара</h1>
            <p>Мы заботимся о каждом нашем клиенте и очень хотим, чтобы ваш заказ был доставлен вовремя и в полном объеме, а вы остались довольны работой с нами.</p>
            <p>При появлении любых проблем мы постараемся оказать вам требуемую помощь. Для этого проверяйте комплектацию и целостность вашего заказа сразу при его получении в присутствие курьера. Только так мы сможем быстро и просто справиться с возникшим недоразумением.</p>
            <p>Компания «Papa Hair» не несет ответственность за целостность заказа, если его вскрытие было произведено в отсутствие курьера. Открывайте, пожалуйста, посылку сразу при получении.</p>
            <p>Если у вас остались вопросы или вы хотите сделать заказ, свяжитесь с нашим менеджером по телефону. Мы работаем ежедневно с 10:00 до 20:00, кроме праздничных дней.</p>
        </div>
    </div>
</div>

