
@{
    ViewBag.Title = "Отзывы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="otzyvy" class="container">
    <div class="row">
        <ul class="breadcrumb ocseo-fixed">
            <li><a href="https://papahair.by/">Главная</a></li>
            <li>Отзывы</li>
        </ul>
    </div>
    <div class="row">
        <div id="content" class="article">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="h1-2 text-center">Отзывы</h1>
                    <div class="margin">

                    </div>
                    <div id="reviews" class="margin">
                        <form class="form-horizontal" id="form-review">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div id="review">
                                        <table class="margin-2x">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Илона</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>23.02.2020<br><br></td>
                                                </tr>
                                                <tr>
                                                    <td>       <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>       	  </td>
                                                </tr>
                                                <tr>
                                                    <td><p>Спасибо большое Роману. Очень грамотно и быстро всё подобрал. Очень порадовала доставка, всего 1 день и волосики у меня. Всем советую.   </p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="margin-2x">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Irina</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>20.02.2020<br><br></td>
                                                </tr>
                                                <tr>
                                                    <td>       <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>       	  </td>
                                                </tr>
                                                <tr>
                                                    <td><p>Осталась довольна! Насыщенный цвет, хорошее качество, профессиональный подход менеджеров: помогли, рассказали, показали. Уже 3 месяца хожу с наращенными волосами от PapaHair. Все ок.</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="margin-2x">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Ева</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>14.01.2020<br><br></td>
                                                </tr>
                                                <tr>
                                                    <td>       <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>       	  </td>
                                                </tr>
                                                <tr>
                                                    <td><p>Спасибо. Получила волосы своей мечты: длинные, красивые. Хожу и радуюсь.</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="margin-2x">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Оксана</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>20.12.2019<br><br></td>
                                                </tr>
                                                <tr>
                                                    <td>       <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>       	  </td>
                                                </tr>
                                                <tr>
                                                    <td><p>Хороший магазин, большой ассортимент, всегда найдешь все необходимое, волосы натуральные, аккуратно срезанные. Наращивать одно удовольствие. Слышу от своих клиенток только положительные отзывы.</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="margin-2x">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Алиса</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>12.12.2019<br><br></td>
                                                </tr>
                                                <tr>
                                                    <td>       <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>       	  </td>
                                                </tr>
                                                <tr>
                                                    <td><p>На прошлой неделе купила у вас волосы на пробу. Ребята, теперь только к вам. Очень понравилось работать с материалом.</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="margin-2x">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Нина</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>30.11.2019<br><br></td>
                                                </tr>
                                                <tr>
                                                    <td>       <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>       	  </td>
                                                </tr>
                                                <tr>
                                                    <td><p>Я мастер по наращиванию, поэтому в теме разбираюсь. Здесь очень хорошие натуральные волосы по доступной цене.</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="margin-2x">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Марина</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>01.11.2019<br><br></td>
                                                </tr>
                                                <tr>
                                                    <td>       <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>       	  </td>
                                                </tr>
                                                <tr>
                                                    <td><p>Ваши менеджеры большие молодцы. Благодаря  их советам у меня теперь настоящая коса. Великолепные волосы.</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="margin-2x">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Ира</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>15.10.2019<br><br></td>
                                                </tr>
                                                <tr>
                                                    <td>       <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>       	  </td>
                                                </tr>
                                                <tr>
                                                    <td><p>Спасибо PapaHair! Быстрая доставка, доступная цена и качество на высоте.</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="margin-2x">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Катя</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>09.10.2019<br><br></td>
                                                </tr>
                                                <tr>
                                                    <td>       <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>       	  </td>
                                                </tr>
                                                <tr>
                                                    <td><p>Волосы отменного качества, хорошо сцепляются, выглядят естественно. Рекомендую.</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="margin-2x">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Julya</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>28.09.2019<br><br></td>
                                                </tr>
                                                <tr>
                                                    <td>       <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>       	  </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>
                                                            Всегда мечтала о длинной косе, но природа не наградила. Наконец решилась наростить. Волосы покупала сама в PapaHair. Очень довольна, от моих просто не отличишь. Спасибо ребята.<br>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="margin-2x">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Ольга</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>11.09.2019<br><br></td>
                                                </tr>
                                                <tr>
                                                    <td>       <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>       	  </td>
                                                </tr>
                                                <tr>
                                                    <td><p>Наращиваю волосы уже не первый год. Перепробовала многих поставщиков материала. Вы лучшие! Мне приятно работать с волосами от PapaHair, а мои клиентки радуются прекрасному результату.</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-4 sticky">
                                    <div id="review-form">
                                        <div class="h4">Оставить отзыв</div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-name">Имя</label>
                                                <input type="text" name="name" value="" id="input-name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="input-review">Отзыв</label>
                                                <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <div class="col-sm-12">
                                                <label class="control-label">Оценка</label>
                                                &nbsp;&nbsp;&nbsp; &nbsp;
                                                1 <input type="radio" name="rating" value="1">
                                                &nbsp;
                                                2 <input type="radio" name="rating" value="2">
                                                &nbsp;
                                                3 <input type="radio" name="rating" value="3">
                                                &nbsp;
                                                4 <input type="radio" name="rating" value="4">
                                                &nbsp;
                                                5 <input type="radio" name="rating" value="5">
                                                &nbsp;
                                            </div>
                                        </div>

                                        <div class="buttons clearfix">

                                            <button type="button" id="button-review" data-loading-text="Загрузка..." class="btn btn-block btn-primary">Отправить</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>
<!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id=51');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id=51',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review-form').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review-form').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});


//--></script>