
@{
    ViewBag.Title = "SiteMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="information-sitemap" class="container">
    <ul class="breadcrumb ocseo-fixed">
        <li><a href="https://papahair.by/">Главная</a></li>
        <li>Карта сайта | «PapaHair»</li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1>Карта сайта | «PapaHair»</h1>
            <div class="row">
                <div class="col-sm-6">
                    <ul>
                        <li>
                            <a href="https://papahair.by/volosy-40-sm/">Волосы 40 см</a>
                        </li>
                        <li>
                            <a href="https://papahair.by/neokrashennye-volosy/">Неокрашенные (черные) волосы</a>
                        </li>
                        <li>
                            <a href="https://papahair.by/slavyanskie-volosy/">Славянские волосы</a>
                            <ul>
                                <li>
                                    <a href="https://papahair.by/slavyanskie-volosy/40-sm">40 см</a>
                                    <ul>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/40-sm/neokrashennye">Неокрашенные</a></li>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/40-sm/okrashennye">Окрашенные</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://papahair.by/slavyanskie-volosy/50-sm">50 см</a>
                                    <ul>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/50-sm/neokrashennye">Неокрашенные</a></li>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/50-sm/okrashennye">Окрашенные</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://papahair.by/slavyanskie-volosy/60-sm">60 см</a>
                                    <ul>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/60-sm/neokrashennye">Неокрашенные</a></li>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/60-sm/okrashennye">Окрашенные</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://papahair.by/slavyanskie-volosy/70-sm">70 см</a>
                                    <ul>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/70-sm/neokrashennye">Неокрашенные</a></li>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/70-sm/okrashennye">Окрашенные</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://papahair.by/slavyanskie-volosy/80-sm">80 см</a>
                                    <ul>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/80-sm/neokrashennye">Неокрашенные</a></li>
                                        <li><a href="https://papahair.by/slavyanskie-volosy/80-sm/okrashennye">Окрашенные</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://papahair.by/volosy-50-sm/">Волосы 50 см</a>
                        </li>
                        <li>
                            <a href="https://papahair.by/yuzhno-russkie-volosy/">Южно-русские волосы</a>
                            <ul>
                                <li>
                                    <a href="https://papahair.by/yuzhno-russkie-volosy/40-sm">40 см</a>
                                    <ul>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/40-sm/neokrashennye">Неокрашенные</a></li>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/40-sm/okrashennye">Окрашенные</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://papahair.by/yuzhno-russkie-volosy/50-sm">50 см</a>
                                    <ul>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/50-sm/neokrashennye">Неокрашенные</a></li>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/50-sm/okrashennye">Окрашенные</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://papahair.by/yuzhno-russkie-volosy/60-sm">60 см</a>
                                    <ul>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/60-sm/neokrashennye">Неокрашенные</a></li>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/60-sm/okrashennye">Окрашенные</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://papahair.by/yuzhno-russkie-volosy/70-sm">70 см</a>
                                    <ul>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/70-sm/neokrashennye">Неокрашенные</a></li>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/70-sm/okrashennye">Окрашенные</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="https://papahair.by/yuzhno-russkie-volosy/80-sm">80 см</a>
                                    <ul>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/80-sm/neokrashennye">Неокрашенные</a></li>
                                        <li><a href="https://papahair.by/yuzhno-russkie-volosy/80-sm/okrashennye">Окрашенные</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://papahair.by/volosy-60-sm/">Волосы 60 см</a>
                        </li>
                        <li>
                            <a href="https://papahair.by/volosy-v-srezah/">Волосы в срезах</a>
                        </li>
                        <li>
                            <a href="https://papahair.by/okrashennye-volosy/">Окрашенные</a>
                            <ul>
                                <li>
                                    <a href="https://papahair.by/okrashennye-volosy/kashtanovye">Каштановые волосы</a>
                                </li>
                                <li>
                                    <a href="https://papahair.by/okrashennye-volosy/ryzhie">Рыжие волосы</a>
                                </li>
                                <li>
                                    <a href="https://papahair.by/okrashennye-volosy/rusye">Русые волосы</a>
                                </li>
                                <li>
                                    <a href="https://papahair.by/okrashennye-volosy/svetlye-blond">Светлые (блонд) волосы</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://papahair.by/volosy-70-sm/">Волосы 70 см</a>
                        </li>
                        <li>
                            <a href="https://papahair.by/volosy-80-sm/">Волосы 80 см</a>
                        </li>
                        <li>
                            <a href="https://papahair.by/volosy-na-tresse/">Волосы на трессе</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li><a href="https://papahair.by/specials">Акции</a></li>
                        <li>
                            <a href="https://papahair.by/my-account">Личный кабинет</a>
                            <ul>
                                <li><a href="https://papahair.by/edit-account">Личная информация</a></li>
                                <li><a href="https://papahair.by/change-password">Пароль</a></li>
                                <li><a href="https://papahair.by/address-book">Мои адреса</a></li>
                                <li><a href="https://papahair.by/order-history">История заказов</a></li>
                                <li><a href="https://papahair.by/downloads">Файлы для скачивания</a></li>
                            </ul>
                        </li>
                        <li><a href="https://papahair.by/order-history">Корзина</a></li>
                        <li><a href="https://papahair.by/checkout">Оформление заказа</a></li>
                        <li><a href="https://papahair.by/search">Поиск</a></li>
                        <li>
                            Информация
                            <ul>
                                <li><a href="https://papahair.by/vopros-otvet">Вопрос-ответ</a></li>
                                <li><a href="https://papahair.by/pochemu-my">Почему мы</a></li>
                                <li><a href="https://papahair.by/skupka-volos-v-breste">Скупка волос в Бресте</a></li>
                                <li><a href="https://papahair.by/skupka-volos-v-vitebske">Скупка волос в Витебске</a></li>
                                <li><a href="https://papahair.by/skupka-volos-v-gomele">Скупка волос в Гомеле</a></li>
                                <li><a href="https://papahair.by/skupka-volos-v-grodno">Скупка волос в Гродно</a></li>
                                <li><a href="https://papahair.by/skupka-volos-v-minske">Скупка волос в Минске</a></li>
                                <li><a href="https://papahair.by/skupka-volos-v-mogileve">Скупка волос в Могилеве</a></li>
                                <li><a href="https://papahair.by/ceny">Цены на волосы</a></li>
                                <li><a href="https://papahair.by/o-nas">О нас</a></li>
                                <li><a href="https://papahair.by/oplata-i-dostavka">Оплата и доставка</a></li>
                                <li><a href="https://papahair.by/kak-kupit">Как купить</a></li>
                                <li><a href="https://papahair.by/vozvrat-tovara">Возврат товара</a></li>
                                <li><a href="https://papahair.by/kontakty">Наши контакты</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

