
@{
    ViewBag.Title = "WhyWe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="information-information" class="container">
    <ul class="breadcrumb ocseo-fixed">
        <li><a href="https://papahair.by/">Главная</a></li>
        <li>Почему мы</li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1>Почему мы</h1>
            <ul class="preim-volos">
                <li><p><b>Доступность.</b></p><p>Цены на наши натуральные волосы в срезах вас приятно удивят. В нашем каталоге каждый найдет себе шиньон по карману. При заказе оптом предоставляются скидки.</p></li>
                <li><p><b>Гибкость.</b></p><p>В нашем магазине действует гибкая система скидок. Чем больше вы покупаете, тем ниже становится цена товара для вас.</p></li>
                <li><p><b>Оперативность.</b></p><p>Мы отгружаем товар в день поступления оплаты на расчетный счет. Доставка осуществляется курьерской службой.</p></li>
                <li><p><b>Удобство. </b></p><p>Курьерская служба доставит заказ прямо к порогу вашего дома, офиса или салона в оговоренные сроки.</p></li>
                <li><p><b>Профессионализм.</b></p><p>Наши квалифицированные менеджеры всегда готовы ответить на все ваши вопросы, помочь выбрать подходящий цвет, длину и структуру волос, а также дать совет по дальнейшему уходу за шиньоном.</p></li>
                <li><p><b>Долгосрочные отношения.</b></p><p>Мы стремимся к долгосрочному сотрудничеству с нашими клиентами, предоставляя качественные натуральные волосы на выгодных условиях.</p></li>
                <li><p><b>Индивидуальный подход.</b></p><p>Мы внимательно относимся к каждому клиенту, учитываем его требования и пожелания, подбирая наиболее подходящий тип волос и варианты сотрудничества.</p></li>
            </ul>
        </div>
    </div>
</div>

